{% extends 'base.html.twig' %}

{% block title %}Reservation Form{% endblock %}

{% block body %}

  <div class="container">
  <h1> Success booking ticket </h1>
    <p> Your ticket id: {{ uniqueId }}</p>
  </div>

{% endblock %}
